body {
    background-image: url('/elements/circuit.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black !important;
    color: cyan !important;
}

a {
    color: white;
}
